
.tab-box {
    background-color: #ffffff;
  }

.tabs {
  background: #998F86;
  margin-top: 30px;
  margin-bottom: 20px;
}

.tabs-wrapper {
  padding: 40px;
  background-color: #cdcdcd;
}

.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  width: 10%;
  height: 3em;
  //border-top-left-radius: 3px;
  //border-top-right-radius: 3px;
  background: #998F86;
  text-align: center;
  line-height: 3em;
}
.tabs label:last-of-type {
  border-bottom: none; 
}

.tabs label:hover {
  background: #020202;
  color:#ffffff;
}


@media screen and (max-width: 1600px) {
.tabs label {
width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
width: 20%; 
} 
}
@media screen and (max-width: 600px) {
.tabs label {
  width: 100%;
  display: block;
  border-bottom: 2px solid #C7C6C4;
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
margin-bottom: 10px; 
} 
}

#tab1:checked + label, 
#tab2:checked + label, 
#tab3:checked + label {
background: #020202;
color: #FFFFFF; }

.tab-content {
position: absolute;
top: -9999px;
background: #ffffff;
display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.tab-content-wrapper{
//border-top: #01b3ff 5px solid;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
border-top-right-radius: 3px;

}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
border: none;
border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, 
#tab2:checked ~ .tab-content-wrapper #tab-content-2, 
#tab3:checked ~ .tab-content-wrapper #tab-content-3 {
position: relative;
top: 0px;
}

